/* Write your NewURL.js file's css here  */
* {
  margin: 0;
  padding: 0;
}

.shortener {
  height: 96.3vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.narrow-links {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 3.125rem;
}

.link-box {
  font-size: 20px;
  width: 31.25rem;
  margin-bottom: 15px;
}

.shorten-button {
  width: 6.25rem;
}

.social-links {
  background-color: #fff;
  text-align: center;
  color: #000;
  padding: 2% 15%;
  height: 17vh;
}

.social-icons {
  margin: 20px 10px;
}

.copyright {
  font-family: 'oswald', serif;
  margin: 40px;
  padding-right: 20px;
}

.downloads {
  padding-right: 40px;
}

.copy-btn {
  /* margin-top: 10px; */
  padding-left: 270px;
  font-size: 50px;
  color: rgb(6, 147, 241);
}

.QR-icon {
  font-size: 50px;
  margin-right: 500px;
  margin-left: 50px;
  margin-top: 50px;
}

.narrowurl {
  /* font-size: 10px; */
  border: solid 2px black;
  /* padding: 3px; */
  /* background-color: #b5b3bb; */
  margin-right: 70px;
}

/* Code from here*/
