/* Write your NewURL.js file's css here  */

/*****************************************
Table Of Contents:
- Global Setup 
- Animation
- Bottons
- Input Shortener
- Output Shortener
- Text and Body
- Media Queries  
******************************************/

/**********************/
/*     Global Setup   */
/**********************/
* {
  margin: 0;
  padding: 0;
}

/**********************/
/*     Animation     */
/**********************/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/**********************/
/*     Bottons     */
/**********************/
.shorten-button {
  width: 6.25rem;
}
.copy-btn {
  padding-left: 270px;
  font-size: 50px;
  color: #0693f1;
}
.copy-button {
  width: 10vw;
  margin: 0 10vw 0 0;
}
.QR-icon {
  font-size: 50px;
  height: auto;
  width: 3vw;
  margin: 5vw 5vw 0 10vw;
}

/**********************/
/*  Input Shortener   */
/**********************/
.link-box {
  font-size: 20px;
  width: 31.25rem;
  margin-bottom: 15px;
}
/**********************/
/* Output Shortener  */
/**********************/
.narrowurl {
  height: auto;
  width: 25vw;
  margin: auto;
}

/**********************/
/*    Text and Body   */
/**********************/

div.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.narrow-links {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 3.125rem;
}

/**********************/
/*    Media Queries   */
/**********************/

@media only screen and (max-width: 768px) {
  /* For small screens/Mobile devices */
  .QR-icon {
    margin: 5vw 50vw 0 50vw;
  }
  .copy-button {
    width: 25vw;
    margin: auto;
  }
  .shorten-button {
    width: 20vw;
    margin: auto;
  }
  .narrowurl {
    width: 35vw;
    margin: auto;
  }
  .link-box {
    font-size: 20px;
    width: 60vw;
    margin: auto;
  }
}
/* Code from here*/
