/* Write your Navbar.js file's css here  */

a {
  font-family: 'Rubik', sans-serif;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  font-weight: bold;
}
.fa-brands,
.fa-solid {
  margin: 0 10px;
}

.nav-link {
  font-size: 1.4rem;
  margin: 3px 0 0 0;
  font-family: 'Montserrat';
}

.signings {
  margin: 0 0.3rem;
}

@media (min-width: 992px) {
  .fa-id-badge,
  .fa-house,
  .fa-github {
    visibility: hidden;
  }

  .nav-link:hover > .fa-brands,
  .nav-link:hover > .fa-solid {
    visibility: visible !important;
  }
}
